/*
*   very dark blue:   #000b1d
*   dark blue:        #002d77
*   middle blue:      #3b73cf
*   light blue:       #BED0ED
*   very light blue:  #2d69a9
*/

#wrapper {
  margin: 0 auto;
  width: 680px;
}

a {
  color: #002d77;
  font-weight: bold;
}

input::-moz-focus-inner {
  border : 0px;
}

/*for IE8 */
a, input:focus {
  outline : none;
}

a:hover {
  color: #3b73cf;
}

h1 {
  font-size: 18px;
  margin: 0 0 25px;
  padding: 25px 35px 20px;
  color: #fff;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 608px;
  z-index: 1;
  background: #002D77;
  border-bottom: 1px #002d77 solid;
}

body {
  font-size: 15px;
  font-family: arial;
  color: #000b1d;
}

br {
  clear: both;
}

form div {
  position: relative;
  height: 75px;
}

.field_with_errors {
  height: auto;
}

.error {
  position: absolute;
  top: 0;
  right: 3px;
  color: #9E0316;
  font-size: 13px;
  font-weight: bold;
}

.flash {
  margin-left: 10px;
  padding: 10px 10px 10px 37px;
  font-size: 13px;
  -moz-border-radius: 7px;
  display: none;
}

.flash.flash-notice {
  background: #93C2E6 url(../images/notice.png) no-repeat scroll 7px 7px;
  border: 1px solid #216294;
}

.flash.flash-error {
  background: #ff7979 url(../images/error.png) no-repeat scroll 7px 7px;
  border: 1px solid #CC0000;
}

label {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 13px;
}

input {
  position: absolute;
  top: 18px;
  left: 0;
  height: 18px;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #002d77;
  -moz-border-radius: 10px;
}

select {
  position: absolute;
  top: 18px;
  left: 0;
  height: 40px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #002d77;
  -moz-border-radius: 10px;
}

.buttons {
  height: 40px;
}

.buttons input[type=submit] {
  padding: 10px;
  background: #2d69a9;
  cursor: pointer;
  width: 100px;
  height: 40px;
  top: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

#logo {
  width: 150px;
  height: 80px;
  background: url(../images/logo.png) 0 0 no-repeat;
  padding: 25px 0 0 80px;
  color: #002d77;
  font-size: 26px;
  font-weight: bold;
  font-family: arial;
  float: left;
}

#logo-last-letter {
  color: #000b1d;
}

#right-menu {
  float: right;
  margin: 32px 5px 0;
}

#right-menu .action {
  float: right;
}

#logout-icon, #login-icon {
  width: 24px;
  height: 24px;
  float: right;
  margin: 3px 0 10px 0;
}

#login-icon {
  background: url(../images/login.png) 0 0 no-repeat;
}

#logout-icon {
  background: url(../images/logout.png) 0 0 no-repeat;
}

#left-menu {
  display: inline;
  float: left;
  margin: 32px 0 0;
}

#left-menu li {
  display: inline;
  margin: 0 5px;
}

#header {
  height: 100px;
  clear: both;
}

.box {
  background: #BED0ED;
  border: 1px #002d77 solid;
  -moz-border-radius: 15px;
  padding: 100px 35px 35px;
  position: relative;
}

#login-box {
  min-height: 150px;
  padding: 35px;
}

#about-box {
  float: left;
  width: 260px;
  border-right: 1px #002d77 solid;
  padding-right: 35px;
  line-height: 20px;
}

#form-box {
  float: left;
  width: 260px;
  padding-left: 35px;
}

#form-box input {
  width: 260px;
}

#form-box input[type=submit] {
  width: 78px;
}

.group select, .group input, .group #arrow {
  position: static;
  float: left;
}

.group {
  clear: both;
}

.input-spinner {
  position: absolute;
  right: 15px;
  top: 30px;
}

.button-spinner {
  margin: 0 10px;
}

#word_lang {
  margin-right: 25px;
}

#word_to {
  margin-left: 25px;
}

#word_submit {
  margin-left: 25px;
  height: 40px;
  width: 135px;
}

#arrow {
  height: 40px;
  width: 40px;
}

#word_value {
  width: 370px;
}

#translate-form, #filter-form {
  margin: 0 auto;
}

#translate-form {
  width: 402px;
}

#filter-form {
  width: 430px;
}

#filter-form .button-spinner {
  margin: 10px 0 0 10px;
}

#save-button {
  position: static;
}

#results, #words-index-box {
  margin: 15px 0;
}

.strong {
  font-weight: bold;
}

ul.custom {
  list-style-type: none;
  font-size: 13px;
}

ul.custom li {
  padding-left: 30px;
  background: #fff url('../images/plus.png') 3px 3px no-repeat;
  line-height: 30px;
  border: 1px solid #1E64C8;
  margin-top: 7px;
  width: 500px;
  cursor: pointer;
  -moz-border-radius: 10px;
}

ul.custom ol {
  margin: 0;
  padding: 0;
}

ul.custom ol li {
  background: none;
  border: none;
  padding: 3px 0;
  margin: 0;
  height: 12px;
}

ul.custom dt {
  height: 30px;
  font-weight: bold;
}

ul.custom dd {
  display: none;
  margin: 0 10px 20px;
}

#translation {
  background: #fff;
  border: 1px solid #1E64C8;
  -moz-border-radius: 10px;
  padding: 15px 45px;
}

#translation li {
  cursor: default;
}

#exception-box {
  text-align: center;
}

#exception-box img {
  border: 1px solid #002D77;
}

.exception-message {
  margin: 10px 0 0;
}