<%= render :partial => 'filter' %>

<div class="box" id="words-index-box">
  <h1>My words</h1>
  <% if @words.empty? %>
    <div class="notice">You haven't got any words yet.</div>
  <% else %>
    <ul class="custom" id="my-words">
      <% @words.each do |word| %>
        <li>
          <dl>
            <dt>
              <%= word.value %>
            </dt>
            <dd>
              <ol>
                <% word.meanings_to(@to).each do |meaning|  %>
                  <li><%= meaning.value %></li>
                <% end %>
              </ol>
            </dd>
          </dl>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>