<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => '/layouts/head' %>
  </head>
  <body>
    <%= render :partial => '/layouts/top' %>
    <%= render :partial => '/layouts/menu' %>
    <%= yield %>
  </body>
</html>
